@import "partials/nav-menu";
@import "partials/content";
@import "partials/image.scss";
@import "partials/ipad.scss";
@import "partials/socials";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #112240;
  color: #ccd6f6;
  font-family: "Poppins", sans-serif;
}




